* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #fbf3de;
}

.cover {
    background: #000000 center/cover url(./cover2.jpg);
    text-align: center;
    position: relative;
    height: 50vh;
}

.cover h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fbf3de;
}

.curveUpSvg {
    fill: #fbf3de;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.site-map {
    height: 100vh;
}

#shapes {
    fill: none;
    stroke: #000000;
    stroke-opacity: "null";
    height: "53";
    width: "168";
    stroke-width: 3;
    cursor: pointer;
    font-size: 30px;
}

#home,
#products,
#quiz,
#gallery,
#aboutUs,
#conatctUs,
#ourTeam {
    transition: 0.8s;
}

#home:hover,
#products:hover,
#quiz:hover,
#gallery:hover,
#aboutUs:hover,
#contactUs:hover,
#ourTeam:hover {
    fill: #f4b30f;
}

.footer {
    height: 10vh;
    object-fit: cover;
    background-color: #b0553a;
}