/*Feedback form css*/
.titleFeedback{
    text-align: center;
    font-family: monospace;
    font-size: 36px;
    font-weight: 900pz;
}
.formDetails{
    margin-left: 600px;
    font-family:monospace;
    font-weight: 700px;
    font-size: 24px;
}
.buttonSubmit{
    width: 100px;
    height:20px;
}





/*Rating Area*/
.rate{
    float:left;
    height: 80px;
    padding: 0 10px;
    margin-left:200px;
}

/*Radio Buttons of star ratings*/
.rate:not(:checked)>input{
    position: absolute;
    top:50;
    visibility: hidden;
}

/*for unselected radio buttons*/
.rate:not(:checked)>label{
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:darkslategray;
}


/*Set Star icon for radio buttons*/
.rate:not(:checked) > label:before{
    content:'★';
}

/*selected star rating*/ 

.rate > input:checked ~label{
    color:#ffc700;
}

.rate:not(:checked) > label:hoer,
.rate:not(:checked) > label:hover ~ label{
    color:#deb217;
}
.rate > input:checked +label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,

.rate > label:hover ~ input :checked ~label{
    color: #deb217;
}