*{
    box-sizing:border-box;
}

.logoHola img{
    float: left;
    position: fixed;
	width: 200px;
	height: auto;
	margin-top:5px;
	margin-bottom:5px;
    padding-left: 20px;
}

/*Initialize styles for grids*/
:root{
    --main-radius:10px;
    --main-padding:3px;
}

/*Styles for navigation bar*/
.navbar{
    grid-area:navbar;
    position: fixed;
    font-family: monospace;
    border-radius: var(--main-radius);
    padding-top:var(--main-padding);
    z-index: 1;
}

.navbar ul{
    width:auto;
    width:900px;
    float:left;
    margin-top:10px;
    margin-left: 700px;
    background-color:rgba(173, 59, 6, 50%);
    box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.527);
    text-align:center;
    border-radius: 50px;
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    cursor:pointer;
}

.navbar ul li a{
    display: block;
    text-decoration: none; 
    padding: 10px 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition:background-color 0.5s ease;
    position:relative;
}

.sub-menu .sub-ul{
    display: none;
    width:120px;
    border-radius:10PX;
    position:absolute;
    text-align:center;
    margin-top:0;
    margin-left: 0px;
    background-color: rgba(173, 59, 6, 50%);
}

.sub-menu .sub-ul .li{
    display: block;
    list-style: none;
    cursor: pointer;
    margin-left: -20px;
    margin-right:20px;
}

.sub-menu .sub-ul .li .a{
    text-decoration: none;
    float:none;
    padding:10px 0;
    font-size:16px;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    transition:background-color 0.5s ease;

}

/*nav bar hover styles*/
.navbar ul li a:hover{
    background-color: rgba(71, 21, 21, 0.6);
    color: rgba(248, 248, 248, 0.918);
}

.navbar ul :hover .sub-menu .sub-ul{
    display:block;
}

.link{
    font-size: 14px;
    color: aliceblue;
    list-style: none;
}

#about-link{
    width:150px;
    margin-left:350px;
}