*{
    
}

.logoHola img{
	box-sizing:border-box;
    float: left;
    position: fixed;
	width: 200px;
	height: auto;
	margin-top:5px;
	margin-bottom:5px;
    padding-left: 20px;
    z-index: 1;
}

/*Initialize styles for grids*/
:root{
    --main-radius:10px;
    --main-padding:3px;
}

/*Styles for navigation bar*/
.navbar{
    grid-area:navbar;
    position: fixed;
    font-family: monospace;
    border-radius: var(--main-radius);
    padding-top:var(--main-padding);
    z-index: 1;
}

.navbar ul{
    width:auto;
    width:900px;
    float:left;
    margin-top:10px;
    margin-left: 700px;
    background-color:rgba(173, 59, 6, 50%);
    box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.527);
    text-align:center;
    border-radius: 50px;
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    cursor:pointer;
}

.navbar ul li a{
	
    display: block;
    text-decoration: none; 
    padding: 10px 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition:background-color 0.5s ease;
    position:relative;
}

.sub-menu .sub-ul{
	box-sizing:border-box;
    display: none;
    width:120px;
    border-radius:10PX;
    position:absolute;
    text-align:center;
    margin-top:0;
    margin-left: 0px;
    background-color: rgba(173, 59, 6, 50%);
}

.sub-menu .sub-ul .li{
    display: block;
    list-style: none;
    cursor: pointer;
    margin-left: -20px;
    margin-right:20px;
}

.sub-menu .sub-ul .li .a{
    text-decoration: none;
    float:none;
    padding:10px 0;
    font-size:16px;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    transition:background-color 0.5s ease;

}

/*nav bar hover styles*/
.navbar ul li a:hover{
    background-color: rgba(71, 21, 21, 0.6);
    color: rgba(248, 248, 248, 0.918);
}

.navbar ul :hover .sub-menu .sub-ul{
    display:block;
}

.link{
    font-size: 14px;
    color: aliceblue;
    list-style: none;
}

#about-link{
    width:150px;
    margin-left:350px;
}

footer{
	grid-area: footer;
	background-color: #FBF3DE;
	margin-top: 2%;
	font-family: monospace;
	
}
.footer{
	display: flex;
	
}

.footer .box{
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h1{
	font-size: 1.25rem;
	font-weight: 600;
	text-transform: uppercase; 
}

.box h2{
	text-align: center;
}

.box .footer-content{
	margin: 20px 0 0 0;
}

.box li{
	list-style-type: none;
	font-size: 1.25em;
	padding: 8px;
	margin: 10px;
	text-align: center;
}

.footer-left ul{
	width: 200px;
}

.footer-icon{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	font-size: 15px;
	margin: 0 0 0 10px;
}

.footer-social-icon{
	width: 40px;
	height: 40px;
	margin: 0 40px 0 0;
	display: inline-block;
}

.footer-content a{
	text-decoration: none;
}

.footer-social{
	margin: 20px 0 0 10px;
}

.box .footer-content p{
	text-align: justify;
	font-size: 15px;
}

.footer-control-icon{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0 2% 0 0;
}

.footer-logo{
	margin-top: 10%;
	text-align: center;
}

#footer-logo-image{
	width: 300px;
	height: auto;
	
}
