
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/quiz-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: monospace;
	
}

.body{
	grid-area: body;
	
}
.container{
	width: 100%;
	height: 100%;
	overflow:auto;
	position: relative;
	animation: slide 15s infinite;
	display: grid;
	height: 100vh;
	grid-template-areas: 
		"navbar"
		"body"
		"quiz-heading"
		"instruction-heading"
		"quiz"
		"footer";
		
}

.quiz-heading{
	color: white;
}

.quiz-heading h1{
	text-align: center;
	grid-area: quiz-heading;
	margin: 0;
	margin-top: 40px;
	font-size: 28px;
}

.quiz-heading h2{
	margin: 15px 20px;
	grid-area: instruction-heading;
	font-size: 26px;
}

.quiz-heading ul{
	margin: 0 40px;
	grid-area: instruction-heading;
	font-weight: 600;
	font-size: 16px;
}

.quiz-container{
	background-color: rgba(178,190,181,50%);
	text-align: center;
	margin: 20px 15px;
	padding: 5% 0;
	border-radius: 20px;
}

button{
	background-color:#FFD700;
	outline: none;
	height: 50px;
	width: 150px;
	font-size: 20px;
	border-radius: 50px;
	border: none;
	box-shadow: 0 9px #DDC774;
	
}

button:hover{
	background-color: #e4d00a;
}

button:active{
	background-color: #e4d00a;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#quiz{
	display: none;
	grid-area: quiz;
}

#question{
	font-size: 25px;
	margin: 0 0 10px 0;
	color: white;
}

.answers{
	margin: 30px 0; 
	font-size: 15px;
}
.choice{
	position: relative;
	display: inline-block;
	border: 1px solid black;
	width: 300px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #B0533A;
	overflow: hidden;
	transition-duration: 0.4s;
	text-decoration: none;
	color: white;
	user-select: none;
}

.choice:hover{
	background-color: #F4B30F;
}

.choice:after {
  content: "";
  background: #ecfc35;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  
}

.choice:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#answer1{
	margin-right: 20px;
	font-size: 20px;
	
	
}
#answer2{
	margin-right: 20px;
	font-size: 20px;
	
}
#answer3{
	
	margin-right: 20px;
	font-size: 20px;
	
}

.marker{
	width : 25px;
    height : 25px;
	border: 1px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}

.timer-block{
	border: 1px solid black;
	display: inline-block;
	background-color: #66bdf2;
	width: 30px;
	height: 10px;
	margin: 5px;
}

#timer{
	color: white;
}

#score{
	display: none;
	text-align: center;
	color: white;
	font-size: 30px;
	margin: 20px 15px;
	padding: 5% 0;
	border-radius: 20px;
}

